In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data/weather_madrid_LEMD_1997_2015.csv')
# df
# list(df.columns.values)

In [3]:
df = df[['CET', 'Max TemperatureC', 'Mean TemperatureC', 'Min TemperatureC']]
# df

In [4]:
# a1 = (a-a.min()).astype('timedelta64[D]').astype(int)+1
# # print(a1)
print(df)

             CET  Max TemperatureC  Mean TemperatureC  Min TemperatureC
0       1997-1-1               7.0                4.0               2.0
1       1997-1-2               7.0                3.0               0.0
2       1997-1-3               5.0                3.0               2.0
3       1997-1-4               7.0                3.0              -1.0
4       1997-1-5               2.0                0.0              -1.0
5       1997-1-6               7.0                3.0               1.0
6       1997-1-7               2.0                0.0              -2.0
7       1997-1-8               8.0                4.0               1.0
8       1997-1-9              12.0               10.0               8.0
9      1997-1-10              13.0                8.0               3.0
10     1997-1-11              16.0               10.0               5.0
11     1997-1-12              17.0               10.0               3.0
12     1997-1-13              15.0                9.0               4.0
13     1997-1-14              11.0                6.0               0.0
14     1997-1-15              11.0                8.0               5.0
15     1997-1-16              12.0                9.0               6.0
16     1997-1-17              13.0                9.0               5.0
17     1997-1-18               6.0                3.0               2.0
18     1997-1-19               9.0                7.0               6.0
19     1997-1-20               9.0                7.0               5.0
20     1997-1-21              10.0                8.0               6.0
21     1997-1-22              13.0                8.0               3.0
22     1997-1-23              12.0               10.0               9.0
23     1997-1-24              13.0               10.0               7.0
24     1997-1-25              12.0                9.0               7.0
25     1997-1-26              14.0                9.0               5.0
26     1997-1-27              15.0                8.0               2.0
27     1997-1-28              14.0               10.0               6.0
28     1997-1-29              11.0                8.0               5.0
29     1997-1-30              15.0               11.0               8.0
...          ...               ...                ...               ...
6782   2015-12-2              15.0                7.0              -1.0
6783   2015-12-3              17.0                8.0              -1.0
6784   2015-12-4              17.0                9.0               1.0
6785   2015-12-5              19.0               10.0               2.0
6786   2015-12-6              17.0                9.0               0.0
6787   2015-12-7              11.0                7.0               2.0
6788   2015-12-8              13.0                9.0               4.0
6789   2015-12-9              16.0                9.0               2.0
6790  2015-12-10              14.0                8.0               3.0
6791  2015-12-11              14.0                9.0               4.0
6792  2015-12-12              12.0                9.0               7.0
6793  2015-12-13              13.0                8.0               2.0
6794  2015-12-14              15.0               11.0               7.0
6795  2015-12-15              16.0               11.0               7.0
6796  2015-12-16              15.0                8.0               2.0
6797  2015-12-17              16.0                9.0               2.0
6798  2015-12-18              15.0                9.0               3.0
6799  2015-12-19              16.0                9.0               2.0
6800  2015-12-20              16.0                8.0               1.0
6801  2015-12-21              15.0                8.0               2.0
6802  2015-12-22              16.0                8.0               0.0
6803  2015-12-23              15.0                8.0               0.0
6804  2015-12-24              11.0                6.0               0.0
6805  2015-12-25              14.0                6.0              -2.0
6806  2015-12-26              12.0                6.0              -1.0
6807  2015-12-27              14.0                7.0              -1.0
6808  2015-12-28              15.0                8.0               2.0
6809  2015-12-29              11.0                8.0               5.0
6810  2015-12-30               9.0                8.0               6.0
6811  2015-12-31              12.0               10.0               7.0

[6812 rows x 4 columns]

In [5]:
# s = pd.Series(pd.date_range('20000101',periods=10000).tolist() * 80)
s = pd.Series(pd.date_range('1997-01-01','2015-12-31').tolist())
# print(s)
s1 = pd.Series(df.CET)
# print(s1)
print(s1.min())

# s_diff = (s-s.min()).astype('timedelta64[D]').astype(int)+1
# # print(s_diff)
# s2 = s1.shift(-1) - s
# print(s2)

# print(s2.unique())
# # s2[s2 == s2.unique()[1]]

1997-1-1